
<!--head-->

<%- include('partials/head') %> 

<body>
<!--navbar-->
<%- include('partials/navbar') %>
<!--formulario de nueva operacion ( no manda datos no encuentro el error )-->  
<div class="container-form">
  <h3 align ="center"> crear una operacion </h3>
<form action="/" method="POST"class="card card-body">
<div class="form-group">
 <label for="Concepto">Concepto</label>
 <input type="text" class="form-control" placeholder=" ingresar concepto"  name="Concepto" required>
</div>
<div class="form-group">
 <label for="Monto">Monto</label>
 <input type="text" class="form-control" placeholder="ingresar monto"  name="Monto" required>
</div>
<div class="form-group">
 <label for="fecha">Fecha</label>
 <input type="text" class="form-control" placeholder="ingresar fecha"  name ="Fecha"required>
</div><div class="form-group">
 <label for="Tipo">Tipo</label>
 <select class="form-select" aria-label="Default select example" name="Tipo">
   <option selected> Seleciona un tipo</option>
   <option value="Ingreso">ingreso</option>
   <option value="Egreso">Egreso</option>
 </select>
</div>
   <div class="col-auto my-1" >
       <button type="submit" class="btn btn-primary" >crear</button>
     </div>
</form>
</div>
</body>
</html>